name: 'Chromatic'

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  chromatic-deployment:
    if: github.event.pull_request.draft == false && contains(github.event.pull_request.labels.*.name, 'renovate') == false && contains(github.event.pull_request.labels.*.name, 'dependencies') == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Yarn install
        uses: ./.github/actions/yarn-install

      - name: Build
        run: yarn build:all

      - name: Publish to Chromatic
        id: chromatic
        uses: chromaui/action@v13
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          onlyChanged: true
        env:
          IS_CHROMATIC: 'true'

      - name: Find Comment
        uses: peter-evans/find-comment@v3
        if: success() && github.event.number
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Chromatic results

      - name: Create or update comment
        uses: peter-evans/create-or-update-comment@v4
        if: success() && github.event.number
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            ## Chromatic results

            ### Outputs
            | Name | Value |
            |---|---|
            | storybookUrl | ${{ steps.chromatic.outputs.storybookUrl }} |
            | buildUrl | ${{ steps.chromatic.outputs.buildUrl }} |
            | actualCaptureCount | ${{ steps.chromatic.outputs.actualCaptureCount }} |
            | changeCount | ${{ steps.chromatic.outputs.changeCount }} |
            | errorCount | ${{ steps.chromatic.outputs.errorCount }} |
          edit-mode: replace
